<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/fragments/common :: common"></th:block>
    <title>my todo</title>
</head>

<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div id="capture_app">

        <th:block th:replace="/fragments/common :: header"></th:block>
        <div class="row">
            <hr/>

            <span id="insert-area">
                    <div class="row">
                        <div class="row">
                            <!-- TODO 更新機能実後、更新時にはタイトルがUPDATEに切り替わる -->
                            <h2>insert</h2>
                        </div>

                        <!--タスク追加 -->
                        <div class="row" style="padding-left:5%;">
                            <div class="row">
                                <!-- TODO 更新機能実後、更新時にはタイトルがUPDATEに切り替わる -->
                                <h4>task</h4>

                                <!-- 入力欄 -->
                                <div class="row">
                                    <div class="eight columns">
                                        <div class="row">
                                            <div class="six columns">
                                                <label for="title">title
                                                    <span class="input-error" id="error-title-1"></span>
                                                </label>
                                                <input type="text" v-model="inputTask.title" id="title"
                                                       maxlength="50" class="u-full-width input-element">

                                            </div>
                                            <div class="six columns">
                                                <!-- TODO カレンダー入力補助 -->
                                                <label for="execution_date">execution_date</label>
                                                <input type="datetime-local" v-model="inputTask.execution_date"
                                                       id="execution_date" class="u-full-width input-element">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label for="detail">detail</label>
                                            <textarea v-model="inputTask.detail" id="detail"
                                                      class="u-full-width input-element"></textarea>
                                        </div>

                                        <!-- サブサブタスク追加ボタン。押される度にサブサブタスク入力欄が1行増える -->
                                        <button @click="addSubtask">add...subtask</button>
                                    </div>
                                </div>
                            </div>

                            <hr class="dotted-line-hr"/>

                            <!-- サブタスク -->
                            <div class="row" style="padding-left:10%;">
                                <span v-for="(subTask, index) in inputSubTaskList" :key="index">
                                    <h4>sub task : {{subTask.count}}</h4>
                                    <div class="row">
                                        <div class="eight columns">

                                            <div class="row">
                                                <div class="six columns">
                                                    <label for="title">title</label>
                                                    <input type="text" v-model="subTask.title" maxlength="50"
                                                           class="u-full-width input-element">
                                                </div>
                                                <div class="six columns">
                                                    <label for="execution_date">execution_date</label>
                                                    <input type="datetime-local" v-model="subTask.execution_date"
                                                           class="u-full-width input-element">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label for="detail">detail</label>
                                                <textarea v-model="subTask.detail"
                                                          class="u-full-width input-element"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>

                            <div class="row">
                                <button @click="insert" class="button-primary">Insert</button>
                            </div>
                        </div>

                    </div>
                    <hr/>
                </span>

            <div class="row">
                <h3>task list</h3>
                <select @change="switchCompleted" v-model="displayCompletedFlg">
                    <option value="0" selected>inCompleted</option>
                    <option value="1">Completed</option>
                </select>
            </div>

            <div class="row" style="padding-left:5%;">
                <input type="hidden" id="in-completed-task-list" th:value="${inCompletedTaskList}"/>
                <!-- 未完了タスクリスト 下で未完了タスクリストをループ -->
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th style="width:50px">action</th>
                        <th style="width:50px"></th>
                        <th>title</th>
                        <th>detail</th>
                        <th>execution date</th>
                    </tr>
                    </thead>
                    <tbody>
                      <template v-for="task in taskList">
                          <tr>
                              <td>
                                  <a v-if="displayCompletedFlg == '0'">
                                      <img class="complete-button" th:src="@{/icon/complete.png}" data-kind="TASK"
                                           :id="task.key" @click="taskComplete" width="50%" height="50%" />
                                  </a>
                                  <a>
                                      <img class="delete-button" th:src="@{/icon/delete.png}" :id="task.key" @click="taskDelete"
                                           data-kind="TASK" width="50%" height="50%" />
                                  </a>
                                  <!--<a class="delete-button" data-kind="TASK"
                                     :id="task.key" @click="taskDelete">
                                      <img th:src="@{/icon/update.png}" data-kind="TASK" />
                                  </a > -->
                              </td>
                              <td></td>
                              <td>{{ task.title }}</td>
                              <td>{{ task.detail }}</td>
                              <td>{{ task.executionDate }}</td>
                          </tr>
                          <template v-for="subTask in task.subTaskList">
                              <tr>
                                  <td style="padding-left:10%;"></td>
                                  <td>
                                      <a class="u-pull-right" v-if="displayCompletedFlg == '0'">
                                          <img class="complete-button" th:src="@{/icon/complete.png}" data-kind="SUB_TASK"
                                               :id="subTask.key" @click="taskComplete" />
                                      </a>
                                      <a class="u-pull-right">
                                          <img class="delete-button" th:src="@{/icon/delete.png}" :id="subTask.key" @click="taskDelete"
                                               data-kind="SUB_TASK" />
                                      </a>
                                  </td>
                                  <td style="padding-left:7%;">{{ subTask.title }}</td>
                                  <td style="padding-left:7%;">{{ subTask.detail }}</td>
                                  <td style="padding-left:7%;">{{ subTask.executionDate }}</td>
                              </tr>
                          </template>
                      </template>
                    </tbody>
                </table>

            </div>

            <div class="row">
                <button @click="switchInsertArea" id="add-task-btn" class="button button-primary">add...task
                </button>
            </div>

        </div>
    </div>
</div>
<th:block th:replace="/fragments/common :: script"></th:block>
<script th:src="@{/js/todo_list_vue.js}"></script>
</body>

</html>