<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
  <div th:fragment="stylesheets">
    <!-- Basic Page Needs
    ?????????????????????????????????????????????????? -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ?????????????????????????????????????????????????? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    ?????????????????????????????????????????????????? -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    ?????????????????????????????????????????????????? -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/normalize.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/original.css}">

    <!-- Favicon
    ?????????????????????????????????????????????????? -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    
  </div>
</body>
</html>