<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common">
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
</th:block>

<th:block th:fragment="header">
    <div class="row">
        <div class="six columns">
            <h2>my todo</h2>
        </div>
        <div class="six columns">
            <h5 class="u-pull-right" id="headerDate" >2021/05/04</h5>
        </div>
    </div>
</th:block>

<th:block th:fragment="script">
    <!-- JS -->
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</th:block>

</html>