<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="task(task)">
    <li style="list-style: none;" data-kind="TASK" th:id="${task.taskId}" >
            <a style="color:green; font-size:120%; padding-left:50px;" class="task-complete"
               v-on:click="taskComplete" th:if="${task.completeFlg == '0'}">　✓　</a>
            <a style="color:red; font-size:120%; padding-left:30px"
               v-on:click="taskDelete">　×　</a>
            <span style="padding-left:30px" th:text="${task.title}"></span>
            <ul th:each="subTask : ${task.subTaskList}">
                <th:block th:replace="/fragments/sub_task :: sub_task(${subTask})"></th:block>
            </ul>
    </li>
</th:block>
